* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Karla";
}

body {
  max-width: 1440px;
  width: 100%;
  height: 100vh;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background: hsl(204, 43%, 93%);
}

p {
  font-size: 13px;
  font-weight: 400;
}

.details {
  width: 600px;
}

.header {
  background: #fff;
  padding: 35px 30px;
  border-radius: 5px 5px 0px 0px;
}

.header > h2 {
  color: hsl(179, 62%, 43%);
  font-weight: 700;
}

.header > h3 {
  color: hsl(71, 73%, 54%);
  font-weight: 400;
  margin: 20px 0px 10px 0px;
}

.header > p {
  color: hsl(218, 22%, 67%);
}

.footer {
  display: flex;
}

.left {
  background: hsl(179, 62%, 43%);
  flex: 1;
  padding: 35px 30px;
  border-bottom-left-radius: 10px;
}

.left > h3 {
  color: hsl(203, 44%, 93%);
  font-weight: 700;
}

.left > .meny {
  display: flex;
  align-items: center;
}

.meny {
  margin: 15px 0px 5px 0px;
}

.meny > .meny-1 {
  color: hsl(204, 43%, 93%);
  font-weight: 700;
  font-size: 30px;
}

.meny-1 {
  margin-right: 10px;
}

.meny > .meny-2 {
  color: hsla(203, 44%, 93%, 0.451);
  font-size: 13px;
  align-items: center;
}

.left > p {
  color: hsl(203, 44%, 93%);
}

.left > button {
  margin-top: 25px;
  border: none;
  border-radius: 5px;
  color: #fff;
  width: 100%;
  padding: 13px;
  background: hsl(71, 73%, 54%);
}

.right {
  background: hsla(179, 62%, 43%, 0.748);
  flex: 1;
  padding: 35px 30px;
  border-bottom-right-radius: 10px;
}

.right > h3 {
  color: #fff;
  font-weight: 400;
  margin-bottom: 20px;
}

.right > P {
  color: hsla(203, 44%, 93%, 0.678);
  margin-bottom: 2px;
}
